<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regist</title>
</head>
<body>
    <h1>JOPAPP-REGIST</h1>

    <div class="form-div">
        <form action="/user/regist" method="post">
            <input type="text" name="userid" placeholder="ID">
            <input type="text" name="userpassword" placeholder="PASSSWORD">
            <input type="text" name="userpasswordconfirm" placeholder="PASSSWORD CONFIRM">
            <input type="submit" value="注册">
        </form>
    </div>
</body>
</html>